<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CALCULATOR</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="output-container">
    <h1>{{output}}</h1>
    <h1>History</h1>
    <ion-item>{{history}}</ion-item>
  </div>
  <div class="grid-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('7')">
            7</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('8')">
            8</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('9')">
            9</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="divide()">
            /</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('4')">
            4</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('5')">
            5</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('6')">
            6</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="multiply()">
            *</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('1')">
            1</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('2')">
            2</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('3')">
            3</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="subtract()">
            -</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="warning" (click)="clear()">
            C</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="addValue('0')">
            0</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="warning" (click)="equal()">
            =</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="dark" (click)="add()"> +</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
