.home-container {
  display: flex;
  height: 100vh;
}
.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns with equal width */
  gap: 16px; /* Gap between grid items */
}
.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stack img {
  padding: 1rem;
  height: 10rem;
  width: 10rem;
}
