ion-card {
  padding: 1rem 0;
}
ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
ion-fab {
  margin: 1rem;
}
ion-card-content div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.menu {
  display: flex;
}
.menu ion-icon {
  margin: 0.5rem 0;
  font-size: 2rem;
}
.menu div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
span {
  margin-right: 1rem;
  border: 1px solid white;
  padding: 0.25rem 0.5rem;
}
.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.colors-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#LoadingText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
#LoadingText ion-text {
  font-size: 3rem;
}
